:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed {
    --feed-item-margin: 15px 0px;

    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
