:host {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: var(--feed-item-margin);
}

.title {
    width: 100%;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 10px;
    bottom: 0;
    left: 0;
    font-size: 20px;
}

.views-count {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    right: 10px;
    top: 10px;
    color: #a9a9a9;
    background-color: rgba(0, 0, 0, 0.7);
}

.preview {
    width: 100%;
}
